<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by omrobbie.
  ~ Copyright (c) 2018. All rights reserved.
  ~ Last modified 11/11/17 3:14 PM.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omrobbie.favoritemovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.omrobbie.cataloguemovie.READ_DATABASE" />
    <uses-permission android:name="com.omrobbie.cataloguemovie.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>