<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by omrobbie.
  ~ Copyright (c) 2018. All rights reserved.
  ~ Last modified 11/16/17 5:45 AM.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omrobbie.cataloguemovieuiux">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.omrobbie.cataloguemovie.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.omrobbie.cataloguemovie.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:value=".feature.search.SearchActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".feature.SearchActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".util.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".util.upcoming.SchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.FavoriteProvider"
            android:authorities="com.omrobbie.cataloguemovie"
            android:exported="true"
            android:readPermission="com.omrobbie.cataloguemovie.READ_DATABASE"
            android:writePermission="com.omrobbie.cataloguemovie.WRITE_DATABASE" />

        <receiver android:name=".widget.StackWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_widget_info" />
        </receiver>

        <service
            android:name=".widget.StackWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>